:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.2;
  font-weight: 700;
  background: linear-gradient(to right, #f27121, #e94057, #8a2387);
  background-color: linear-gradient(to right, #f27121, #e94057, #8a2387);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  overflow: hidden;
}
